.board {
  width: calc(100px * 8);
  height: calc(100px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: gray;
}

.white {
  background-color: wheat;
}

.cell * {
  width: 100px;
  height: 100px;
}

.canmove {
  box-shadow: 0 0 0 2px green; /* Зеленая обводка */
}

/* .piece.white {
  background-color: transparent;
  fill:lavenderblush
}

.piece.black {
  background-color: transparent;
  fill:black
} */