.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: gray;
}

.white {
  background-color: wheat;
}

.cell svg {
  width: 60px;
  height: 60px;
}